<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
	<title>SpringMVCアプリ</title>
</head>
<body>
	<section class="section has-background-link-light">
	<div class="container">
    <span class="is-size-4">SpringMVCアプリ</span>
	<table class="table is-hoverable has-background-link-light">
	    <tr>
	        <th class="has-background-info is-selected">もの</th>
	        <td><a href="" th:href="@{entity}">登録</a></td>
	        <td><a href="" th:href="@{entityList}">一覧</a></td>
	    </tr>
	</table>
	</div>
	</section>
</body>
</html>